
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>会员登录</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/layui/layui.js"></script>

</head>
<body>
    <div class="form-div" style="width:300px;text-align:center;margin:30px auto;">
        <h3>欢迎登录 云隧道 后台管理</h3>
        <form class="layui-form">
            <div class="layui-form-item">
                <input type="text" name="DoMain" id="DoMain" lay-verify="required|domain" autocomplete="off" placeholder="请输入用户名" class="layui-input" value="kf" />
            </div>
            <div class="layui-form-item">
                <input type="password" name="PassWord" id="pass" lay-verify="required|pass" placeholder="请输入密码" autocomplete="off" class="layui-input" value="123456" />
            </div>
            <div class="layui-form-item">
                <button class="layui-btn" lay-submit="" lay-filter="Login" style="width:100%!important">登录</button>
                <p class="text-muted text-center">
                    <a href="/login/passwd"><small>忘记密码了？</small></a> | <a href="/login/register">注册一个新账号</a>
                </p>
            </div>
        </form>
    </div>
    <script>
        layui.use(['form'], function () {
            var $ = layui.jquery
                , form = layui.form
            , layer = layui.layer;
            //自定义验证规则
            form.verify({
                domain: [
                    /^[a-zA-Z][\w]{1,9}$/
                    , '用户名必须为2-10位字母数字，第一位是字母，且不能出现空格'
                ]
            });
            //监听提交
            form.on('submit(Login)', function (data) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Login", "Api")",
                    data: data.field,
                    success: function (msg) {
                        if (msg == "400")
                            layer.msg("密码错误");
                        else
                            window.location = msg;
                    }
                });
                return false;
            });
        });
    </script>
</body>
</html>
