
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="内网穿透,内网映射,云隧道,云隧道内网穿透,云隧道内网转发,内外网通讯,云隧道映射,云隧道微信开发,本地微信开发,内网端口映射工具,内网端口映射,怎么做内网映射,怎么内网映射,云隧道免费服务器">
    <meta name="description" content="快速解决的外网访问内网问题,外网访问您的内网不再是距离">
    <title>云隧道-内网转发-内网穿透</title>
    <link href="~/Content/Main/Index.css" rel="stylesheet" />
    <link href="~/Content/Main/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/Main/layui/layui.js"></script>
</head>
<body>
    <div>
        <div class="layui-nav" style="width:1100px;margin-left:100px;height:80px;background:none">
            <div style="float:left">
                <div class="layui-nav-item layui-this"><a href="/"style="color:#000000">首页</a></div>
                <div class="layui-nav-item"><a href="" style="color:#000000">客户端下载</a></div>
                <div class="layui-nav-item"><a href="" style="color:#000000">官方QQ群</a></div>
                <div class="layui-nav-item"><a href="" style="color:#000000">教程</a></div>
            </div>
            <div style="float:right;margin-top:15px">
                <a href="/login" class="layui-btn layui-btn-primary">登录</a>
                <a href="/login/register" class="layui-btn layui-btn-normal">注册</a>
            </div>
        </div>
    </div>
    <div class="clear"></div>

    <div class="layui-carousel" id="test1">
        <div carousel-item>
            <div style="background: url('../../Content/images/banner.png') no-repeat center;">
                <div class="ban">
                    <div class="banbox" style="">
                        <h1>免费服务器支持绑定自定义域名</h1>
                        <h2>实现内外网通讯</h2>
                        <h3>外网访问内网服务器不再是距离</h3>
                        <a href="/login/register">立即注册</a>
                    </div>
                </div>
            </div>
            <div style="background: url('../../Content/images/banner.png') no-repeat center;">
                <div class="ban">
                    <div class="banbox">
                        <h1>支持内网HTTP映射</h1>
                        <h2>HTTP转发</h2>
                        <h3>在您电脑的web服务直接开放给外网，再也不担心没有路由器权限和80端口被营运商封闭了</h3>
                        <a href="/login/register">立即注册</a>
                    </div>
                </div>
            </div>
            <div style="background: url('../../Content/images/banner.png') no-repeat center;">
                <div class="ban">
                    <div class="banbox">
                        <h1>微信本地开发</h1>
                        <h2>微信开发</h2>
                        <h3>解决本地80端口无法访问，不需要重复的进行文件上传到服务器，节省大量的上传时间，基于本地写完代码就可以通过微信调试</h3>
                        <a href="/login/register">立即注册</a>
                    </div>
                </div>
            </div>
            <div style="background: url('../../Content/images/banner.png') no-repeat center;">
                <div class="ban">
                    <div class="banbox">
                        <h1>外网管理内网服务器</h1>
                        <h2>tcp端口转发</h2>
                        <h3>不仅实现了http服务的端口转发同时支持tcp的端口，在外网可以通过ssh等方式连接服务器</h3>
                        <a href="/login/register">立即注册</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="join">
        <div class="join-box">
            <div class="join-list1">
                <h1>为什么使用Sunny-Ngrok？</h1>
                <ul>
                    <li><span></span>提供免费内网穿透服务，免费服务器支持绑定自定义域名</li>
                    <li><span></span>管理内网服务器，内网web进行演示</li>
                    <li><span></span>快速开发微信程序和第三方支付平台调试</li>
                    <li><span></span>本地WEB外网访问、本地开发微信、TCP端口转发</li>
                    <li><span></span>本站新增FRP服务器，基于 <a href="http://github.com/fatedier/frp" target="_balnk" style="color:blue;">FRP</a> 实现https、udp转发</li>
                    <li><span></span>无需任何配置，下载客户端之后直接一条命令让外网访问您的内网不再是距离</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copy">
        Copyright &copy; 2019 All Rights Reserved.
        <a href="http://www.miitbeian.gov.cn/" target="_blank"></a>
    </div>
    <script>
        layui.use(['element', 'carousel'], function () {
            var element = layui.element
            , carousel = layui.carousel;
            //建造实例
            carousel.render({
                elem: '#test1'
              , width: '100%' //设置容器宽度
              , height: 500
              , arrow: 'always' //始终显示箭头
                //,anim: 'updown' //切换动画方式
            });
        });
    </script>
</body>
</html>
