@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <img src="~/QRcode/20190528202927687.jpg" />
    </div>
</body>
</html>
