
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>我的订单</title>
    <link href="~/Content/Main/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/Main/layui/layui.js"></script>
    <script>
        function pay(code) {
           layer.open({
                type: 2,
                title: '付款',
                // area:["300px","450px"],
                // area:["300px","650px"],
                area: ["600px", "450px"],
                content: '/Order/DoPay?code=' + code,
                end: function () {
                    location.reload();
                }
            });

        }
    </script>
</head>
<body>
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">我的订单</div>
            <div class="layui-card-body">
                <p>
                    注意：未付款隧道将在下单一小时后释放。
                </p>
                <table class="layui-hide" id="test"></table>
            </div>
        </div>
    </div>
    <script type="text/html" id="barDemo">
        {{# if(d.TradingStatus=="待付款"){ }}
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="operation" onclick="pay('{{d.OrderId}}')">付款</a>
        {{# } }}
    </script>
    <script>
        layui.use('table', function () {
            var table = layui.table;

            table.render({
                elem: '#test'
              , url: '/Order/OrderJson'
              , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                  layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                  //,curr: 5 //设定初始在第 5 页
                , groups: 1 //只显示 1 个连续页码
                , first: false //不显示首页
                , last: false //不显示尾页
              }
              , cols: [[
                { field: 'OrderId', title: '订单编号', width: 165, sort: true }
                , { field: 'ECSType', title: '版本', width: 80, sort: true }
                , { field: 'TunnelType', title: '类型', width: 120, sort: true }
                , { field: 'Days', title: '购买天数', width: 100, sort: true }
                , { field: 'Price', title: '付款金额', width: 100, sort: true }
                , { field: 'CreateTime', title: '下单时间', width: 160, sort: true }
                , { field: 'PayTime', title: '付款时间', width: 160, sort: true }
                , { field: 'TradingStatus', title: '订单状态', width: 100, sort: true }
                , { fixed: 'right', title: '操作', width: 70, align: 'center',fixed: 'right', toolbar: '#barDemo' } //这里的toolbar值是模板元素的选择器
              ]]

            });
        });
    </script>

</body>
</html>
