
    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>我的隧道</title>
        <link href="~/Content/Main/layui/css/layui.css" rel="stylesheet" />
        <script src="~/Content/Main/layui/layui.js"></script>
    </head>
    <body>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">我的隧道</div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="test"></table>
                </div>
            </div>
        </div>
        <script>
layui.use('table', function(){
  var table = layui.table;
  table.render({
    elem: '#test'
    , url: '/Tunnel/ListJson'
    ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
      layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
      //,curr: 5 //设定初始在第 5 页
      ,groups: 1 //只显示 1 个连续页码
      ,first: false //不显示首页
      ,last: false //不显示尾页
    }
    ,cols: [[
      { field: 'MappingName', title: '隧道Id', sort: true }
      , { field: 'type', title: '隧道协议', sort: true }
      , { field: 'local_ip', title: '本地IP', sort: true }
      , { field: 'local_port', title: '本地端口', sort: true }
      , { field: 'custom_domains', title: '访问域名', sort: true }
      , { field: 'remote_port', title: '访问端口', sort: true }
    ]]

  });
});
        </script>

    </body>
</html>

